<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="header">
    <title>餐饮管理系统</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    <!--自定义皮肤风格-->
    <link rel="stylesheet" type="text/css" href="/css/css.css" />
    <link rel="stylesheet" type="text/css" href="/js/jquery-easyui-1.5/themes/bootstrap/easyui.css" />
    <link rel="stylesheet" type="text/css" href="/js/jquery-easyui-1.5/themes/icon.css" />

    <!--蓝色主题风格-->
<!--
    <link rel="stylesheet" type="text/css" href="/css/superBlueDark.css" />
    <link rel="stylesheet" type="text/css" href="/easyui/themes/default/easyui.css" />
    <link rel="stylesheet" type="text/css" href="/easyui/themes/icon.css" />
-->


    <!--灰色主题风格-->
    <!--<link rel="stylesheet" type="text/css" href="/css/css.css" />-->
    <!--<link rel="stylesheet" type="text/css" href="/easyui/themes/gray/easyui.css" />-->
    <!--<link rel="stylesheet" type="text/css" href="/easyui/themes/icon.css" />-->


</head>

<body></body>

</html>