<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="header :: header"></head>

<body style="margin:0px;">
		<div class="easyui-window" title="注册" width="420px"  collapsible="false" minimizable="false" maximizable="false" closable="false" buttons="#dlgModifyPwdButtons" style="padding:10px;bottom:200px;" toolbar="#tb">
			<form id="register_form" method="post">
				<input type="hidden" name="redirectUrl" id="redirectUrl" value="${redirectUrl}" />
				<table width="60%" border="0" >
					<tr>
						<td width="100px">帐号：</td>
						<td>
							<input type="text"  name="accountName" value="" prompt="" class="easyui-textbox easyui-validatebox" validType="length[8,16]" iconWidth="28" required="true" missingMessage="请输入帐号" validateOnCreate="false" validateOnBlur="true" />
						</td>
					</tr>
					<tr>
						<td >密码：</td>
						<td>
							<input type="text"  name="accountPassword" value="" prompt="" class="easyui-textbox easyui-validatebox" validType="length[8,16]" iconWidth="28" required="true" missingMessage="请输入密码" validateOnCreate="false" validateOnBlur="true" />
						</td>
					</tr>
                    <tr>
                        <td >邮箱：</td>
                        <td>
                            <input type="text"  name="email" value="" prompt="" class="easyui-textbox easyui-validatebox" validType="length[2,60]" iconWidth="28" required="true" missingMessage="请输入邮箱" validateOnCreate="false" validateOnBlur="true" />
                        </td>
                    </tr>
					<tr>
						<td >用户名：</td>
						<td>
							<input type="text"  name="name" value="" prompt="" class="easyui-textbox easyui-validatebox" validType="length[2,16]" iconWidth="28" required="true" missingMessage="请输入用户名" validateOnCreate="false" validateOnBlur="true" />
						</td>
					</tr>
					<tr>
						<td >真实姓名：</td>
						<td>
							<input type="text"  name="realname" value="" prompt="" class="easyui-textbox easyui-validatebox" validType="length[2,16]" iconWidth="28" required="true" missingMessage="请输入真实姓名" validateOnCreate="false" validateOnBlur="true" />
						</td>
					</tr>
					<tr>
						<td >
							<p>出生日期：</p>
						</td>
						<td id="container">
							<!--<input class="easyui-datetimebox combo-f textbox-f datatimebox-f" id="birthday" name="birthday" style="width:150px"  comboname="birthday" textboxname="birthday" />-->
							<!--<input type="hidden" class="textbox-value" name="birthday" value="2017-12-26" />-->
							<input class="easyui-datebox" type="date" name="birthday" data-options="required:false"  value="" style="width:150px"/>
						</td>
					</tr>
					<tr>
						<td >性别：</td>
						<td>
							<label class="label">
								<input type="radio" name="sex" class="sex_checkbox" value="男" />男
							</label>
								<label class="label">
									<input type="radio" name="sex" class="sex_checkbox" value="女" />女
								</label>
						</td>
					</tr>
					<tr>
						<td >地址：</td>
						<td>
							<input type="text" name="address" id="address" value="" class="easyui-textbox easyui-validatebox" validType="length[4,50]" iconWidth="28" required="false" missingMessage="请输入地址" validateOnCreate="false" validateOnBlur="true" />
						</td>
					</tr>
					<tr>
						<td >电话：</td>
						<td>
							<input type="text" name="phone"  value="" class="easyui-textbox easyui-validatebox" validType="length[11,13]" iconWidth="28" required="false" missingMessage="请输入地址" validateOnCreate="false" validateOnBlur="true" />
						</td>
					</tr>
					<tr>
						<td>
							<input type="button" value="提交"  onclick="register()" />
						</td>
						<td><input type="reset"  id="reset" value="重置"  /></td>
					</tr>
				</table>
			</form>
		</div>

	</body>

<footer th:replace="footer :: footer"></footer>

<script type="text/javascript">


        function register(){
            if($("#register_form").form("validate")) {
                $.messager.progress({
                    title: "注册中",
                    msg: "正在注册，请稍候..."
                });

                $.post("/htm/registerUser.htm", $("#register_form").serialize(), function (data) {
                    if(data.status == true && data.message=="成功" ) {
                        window.location.href = "/htm/login.htm";
                    } else if(data.status == false){
                        $.messager.progress("close");

                        var message = "注册失败，请检查用户信息是否重复！";
                        if (data.message != null) {
                            message = data.message;
                        }
                        $.messager.alert("信息", message, "error");
                    }
                }, "json");
            }
        }




        $(function() {
            // #container.append('开始时间<input class="easyui-datetimebox" id="starttime" name="starttime" style="width:150px" />');
            // #container.append('结束时间<input class="easyui-datetimebox" id="endtime" name="endtime" style="width:150px" />');
            // $.parser.parse(#container);
        });
	</script>
</html>