<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="header :: header">
</head>
<body>
<div id= "main_layout" class="easyui-layout" data-options="collapsedSize:'12'" style="width:100%;height:1040px;">
    <div data-options="region:'north',split:false" style="height:50px" class="self_head">
        <a href="/" id="self_left" class="self_logo" data-options="border:'none'"><h3>哭脸餐饮管理系统</h3></a>
        <div  th:if="null != ${session.userInfo}" class="self_head">
            <span th:text="${session.userInfo.accountName}" class="self_head_span"> </span>
            <a href="/htm/logout.htm" class="easyui-linkbutton" data-options="plain:true">
                <span class="self_head_span">退出</span></a>
        </div>
        <div th:if="null == ${session.userInfo}" class="self_head">
            <a href="/htm/userlogin.action" class="easyui-linkbutton" data-options="plain:true"><span>请登录</span> </a>
        </div>
    </div>
    <div data-options="region:'south',split:false" style="height:50px;">
        <div id="footDiv">
            <p class="foodInyroP">主页底部<br>本系统为毕业设计专业系统</p>
        </div>
    </div>
    <div id="trolley_layout" class="easyui-panel"  data-options="region:'east',split:true,expandMode:'float'" style="width:180px;height:80%;border: none;"   >
       <!-- <form  id="tolley_from" >
            <table id="tolley_table" class="easyui-datagrid"  singleSelect="false" fitColumns="true" nowrap="false" striped="true"
                   SelectOnCheck="true" CheckOnSelect="true" rownumbers="true"
                    toolbar="#buy_div" fit="false" style="width:100%;height: 900px" pagination="true" pageSize="10" pageList="[25, 50, 150]" >
                &lt;!&ndash; title="购物车列表"   href="self/addTolleyData.action" &ndash;&gt;
                <thead>
                <tr>
                    <th field="select" align="center" checkbox="true" ></th>
                    <th field="recipesName" title="食品名称" align="left"   width="0%"></th>
                    <th field="recipesId" title="食品ID" align="left"   width="60%"></th>
                    <th field="recipesPrice"  title="食品价格" align="left"  width="30%"></th>
                    <th field="count"  title="数量" align="left"  width="0%"></th>
                    <th field="orderId" title="订单ID" align="left"  width="0%"></th>
                </tr>
                </tr>
                </thead>
            </table>
        </form>-->
        <iframe id="trolleyPage" name="frame1" style="width: 100%; height: 100%;display:none" frameborder='0'  ></iframe>
    </div>
    <!--<div id="buy_div" >
      <input type="button" value="刷新购物车" onclick="refeshTolley()"/>
       <input class="easyui-linkbutton" form="tolley_from" type="button" value="确定购买" onclick="addOrder()" >
       <p>购物车总价为：</p><input type="text" id="sum_price" readonly="readonly" name="sumPrice" value="0">

    </div>
     -->
    <div id="menu_layout"  class="easyui-layout"  data-options="region:'west',split:false" title="菜单" style="width:100px;">
        <div class="easyui-accordion" data-options="fit:true,border:false">
            <div title="热门美食" style="padding:10px">
                <div style='width: 100%' align='center'><a class="easyui-linkbutton" data-options='plain:true' href="#" onclick="selectInfo(3,'热门小吃')" >热门小吃</a></div><br/>
                <div style='width: 100%' align='center'><a class="easyui-linkbutton" data-options='plain:true' href="#" onclick="selectInfo(3,'热门风味')" >热门风味</a></div><br/>
                <div style='width: 100%' align='center'><a class="easyui-linkbutton" data-options='plain:true' href="#" onclick="selectInfo(3,'销量排行')" >销量排行</a></div><br/>
            </div>
            <div title="八大菜系" style="padding:10px;">
                <div style='width: 100%' align='center'><a class="easyui-linkbutton" data-options='plain:true' href="#" onclick="selectInfo(1,'鲁菜')" >鲁菜</a></div><br/>
                <div style='width: 100%' align='center'><a class="easyui-linkbutton" data-options='plain:true' href="#" onclick="selectInfo(1,'川菜')" >川菜</a></div><br/>
                <div style='width: 100%' align='center'><a class="easyui-linkbutton" data-options='plain:true' href="#" onclick="selectInfo(1,'浙菜')" >浙菜</a></div><br/>
                <div style='width: 100%' align='center'><a class="easyui-linkbutton" data-options='plain:true' href="#" onclick="selectInfo(1,'粤菜')" >粤菜</a></div><br/>
                <div style='width: 100%' align='center'><a class="easyui-linkbutton" data-options='plain:true' href="#" onclick="selectInfo(1,'苏菜')" >苏菜</a></div><br/>
                <div style='width: 100%' align='center'><a class="easyui-linkbutton" data-options='plain:true' href="#" onclick="selectInfo(1,'闽菜')" >闽菜</a></div><br/>
                <div style='width: 100%' align='center'><a class="easyui-linkbutton" data-options='plain:true' href="#" onclick="selectInfo(1,'湘菜')" >湘菜</a></div><br/>
                <div style='width: 100%' align='center'><a class="easyui-linkbutton" data-options='plain:true' href="#" onclick="selectInfo(1,'徽菜')" >徽菜</a></div><br/>
            </div>
            <div title="美食分类" data-options="selected:true" style="padding:10px;">
                <div style='width: 100%' align='center'><a class="easyui-linkbutton" data-options='plain:true' href="#" onclick="selectInfo(2,'饮品')" >饮品</a></div><br/>
                <div style='width: 100%' align='center'><a class="easyui-linkbutton" data-options='plain:true' href="#" onclick="selectInfo(2,'主菜')" >主菜</a></div><br/>
                <div style='width: 100%' align='center'><a class="easyui-linkbutton" data-options='plain:true' href="#" onclick="selectInfo(2,'主食')" >主食</a></div><br/>
            </div>
        </div>
    </div>
    <div id="center_layout"  class="easyui-layout"  data-options="region:'center'" style="border: none">
        <!--<ul id=' hotStore'></ul>-->
        <!--<from id="page_from" type="post" action="" target="pageurl"></from>-->
        <iframe id="pageurl" name="frame2" style="width: 100%; height: 100%;display:none" frameborder='0'></iframe>
    </div>
</div>
</body>
<footer th:replace="footer :: footer"></footer>
<script type="text/javascript" src="/static/js/jquery.cookie.js"></script>
<script type="text/javascript"  th:inline="none">

    function loadTolleyData(){
        $("#tolley_table").datagrid( {
            url:'self/tolleyData.action',
            height:'100%',
            striped: true,
            rownumbers:true,
            pagination: true,
            pageSize: 10,
            pageList: [10, 20, 50],
            border : false,
            showFooter : true,
            loadMsg:'数据加载中，请稍等...',
            columns:[[
                {field:'select',checkbox:true},
                {field:'recipesName',title:'食品名称',width:'60%',align:'right'},
                {field:'recipesId',title:'食品ID',width:'0%',align:'right'},
                {field:'recipesPrice',title:'食品价格',width:'30%',align:'right'},
                {field:'count',title:'数量',width:'30%',align:'right',formatter:function (value,row,index) {
                        if(row.count){
                            if(row.count > 0){
                                return row.count;
                            }
                        }
                        return 1;
                    }},
                {field:'orderId',title:'订单ID',width:'0%',align:'right'}
            ]],
            onBeforeLoad:function(param){
                // console.log(param);
            },
            onLoadSuccess: function (data){
                // console.log(data);
                var sumPrice = 0;
                $.each(data.rows,function (i,val) {
                    sumPrice = sumPrice +val.recipesPrice;
                });
                $("#sum_price").val(sumPrice);
            },
            onLoadError: function (){
                alert("数据加载失败！");
            }
        });
        /* $("#tolley_table").datagrid("loading");
         $("#tolley_table").datagrid("loadData",{total:0,rows:[]});
         $.get("self/tolleyData.action",$("#tolley_from").serialize(),function (pager) {
             console.log(pager);
             console.log(pager.rows);
             $("#tolley_table").datagrid("loadData",{'total':pager.total,rows:pager.rows,pageNumber:pager.pageNumber,pageSize:pager.pageSize});
             $("#tolley_table").datagrid("loaded");
         });*/
    }


    function selectInfo(selectType, selectValue) {
        var recipes = {
                "id":null,
                "foodName":null,
                "foodType":null,
                "foodPrice":null,
                "foodStatus":null,
                "foodCuisine":null,
                "foodKey":null,
                "foodIntroduce":null,
                "foodImgUrl":null
            };
        var infoUrl = "view/selectRecipesInfo.action?";
        if(1== selectType){
            // recipes.foodCuisine = selectValue;
            infoUrl = infoUrl + "foodKey=&foodCuisine="+selectValue;
        }

        if(2==selectType){
            // recipes.foodKey = selectValue;
            infoUrl = infoUrl + "foodCuisine=&foodKey="+selectValue;
        }

        if(3==selectType){
            // recipes.foodKey = selectValue;
            infoUrl = infoUrl + "foodCuisine=null&foodKey=null";
        }
        console.log(recipes);
        $("#center_layout").panel('setTitle',"商品信息详情");
        $("#center_layout").title=selectValue+"食品信息列表";
        $("#pageurl").attr("src",infoUrl);
        $('#pageurl').show();
       /* $.ajax("view/selectRecepiesInfo",recipes.serialize(),function (data) {
            // console.log(data);
        });*/
    }

    
    function loadTolleyPage() {
        // $("#trolley_layout").siblings().remove();

        $("#trolley_layout").panel('setTitle',"购物车信息");
        $("#trolley_layout").title="确认";
        $("#trolleyPage").attr("src","/view/redirectTrolley.action");
        $('#trolleyPage').show();
    }
</script>
<script type="text/javascript"  th:inline="javascript">
    var userInfo = [[${session.userInfo}]];
    <!-- 左边-->
    var bLeftExpand = false;
    $("#main_layout").panel({
        onCollapse:function(){
            if(!bLeftExpand){
                expandWest();
                bLeftExpand=true;
            }
        }
    });
    function expandWest(){
        var objs = $(".layout-expand-west");
        var obj = null;
        if(objs.length==1){
            obj = $(objs[0]);
            if(obj!=null && obj.length==1){
                $(obj).mouseover(function(){
                    $(obj).click(); //用于模拟点击收缩功能
                });
            }
        }
    }
    <!-- 右边-->
    var bRightExpand = false;
    $("#main_layout").panel({
        onCollapse:function(){
            if(!bRightExpand){
                expandEast();
                bRightExpand=true;
            }
        }
    });
    function expandEast(){
        var objs = $(".layout-expand-east");
        var obj = null;
        if(objs.length==1){
            obj = $(objs[0]);
            if(obj!=null && obj.length==1){
                $(obj).mouseover(function(){
                    $(obj).click();
                });
            }
        }
    }


    $(function() {
        $.ajax({
            url:"/view/searchInedxData.action",
            async:true,
            type:"GET",
            dataType:"json",
            success:function (data) {
                var  hotStoreUl = '<ul id="hotStore"></ul>' ;
                $("#center_layout").append(hotStoreUl);

                $.each(data.rows,function (index,hotRecipes) {
                    if (index > 20){
                        return false;
                    }
                    if(index%5 != 0){
                        childli =  '<li class="float_li"><a href="#" onclick="infoDirect( ' +
                            hotRecipes.id
                            +')" class="item" >' +
                            '<img src="'+hotRecipes.foodImgUrl+
                            '"  style="width:200px;height: 400px"/>'+
                            '<div><p class="foodNameP">'+hotRecipes.foodName
                            +'</p><p class="foodInyroP">'+hotRecipes.foodIntroduce+
                            '</p></div></a></li>';
                        $("#hotStore").append(childli);
                    }else {
                        childli =  '<li><a href="#" onclick="infoDirect(' +
                            hotRecipes.id
                            +')" class="item" >' +
                            '<img src="'+hotRecipes.foodImgUrl+
                            '" style="width:200px;height: 400px"/>'+
                            '<div><p class="foodNameP">'+hotRecipes.foodName
                            +'</p><p class="foodInyroP">'+hotRecipes.foodIntroduce+
                            '</p></div></a></li>';
                        $("#hotStore").append(childli);
                    }
                    $(".foot_li").css("float","left");
                    $("li").css("list-style","none");
                });
            },
            error:function () {
            }
        }
        );

        selfdata();

        type()
    });
    
    
    function infoDirect(infoId) {
        infoUrl = "/view/detailData.action?id="+infoId;
        $("#center_layout").panel('setTitle',"商品信息详情");
        $("#center_layout").title="确认";
        $("#pageurl").attr("src",infoUrl);
        $('#pageurl').show();

    }
    
    function selfdata() {
        if(userInfo){
            // loadTolleyData();
            loadTolleyPage();
        }else{
            var trolleyInfo = '<div style="width: 100px;height: 40px" id="tolleyLogin">' +
                '<a  class="easyui-linkbutton" data-options="plain:true" href="/htm/userlogin.action"><span>请登录</span></a><br/><p class="foodInyroP">登陆后查看购物车信息</p></div>';
            $("#trolley_layout").append(trolleyInfo) ;
        }
    }

    function addOrder() {
        $("#pageurl").siblings().remove();
        var sumPrice =  0;
        var rows = $('#tolley_table').datagrid("getChecked");
        // console.log(rows);


        var items = [];
        if(rows){
            $.each(rows,function (index,item) {
                item.userId = userInfo.userId;
                if(null == item.count){
                    item.count = 1;
                }
                sumPrice = sumPrice + item.recipesPrice * item.count;
                items.push(item);
            });
            $.get("/self/payDirect.action",{userOrderList:JSON.stringify(items),sumPrice:sumPrice.toString()},function (data) {
                // alert(data);
                // window.location= data;
                $("#center_layout").panel('setTitle',"订单信息确认");
                $("#center_layout").title="确认";
                $("#pageurl").attr("src","/self/payDirectPage.action");
                $('#pageurl').show();
            });


        }else {
            alert("请至少选择一项商品！");
        }

    }
    
    function refeshTolley() {
        loadTolleyData();
    }

</script>


</html>
